body{
    background-color: rgb(244, 232, 248);
    display: flex;
    justify-content: center;
}

.coolio{
    width: 500px;
    height: 100px;
    background-color: rgb(243, 250, 179);
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    color: rgb(212, 101, 235);
    font-size: 40px;
    font-weight: bold;
}